.card {
  padding: 20px;
  padding-top: 45px;

  text-align: center;

  background-color: var(--black);
  border-radius: 10px;

  &__logo {
    display: block;
    margin-bottom: 34px;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
  }

  &__description {
    font-size: 14px;
    font-weight: lighter;
    line-height: 120%;
    color: var(--grey);
  }
}

.big {
  width: 322px;
  height: 322px;
}

.small {
  width: 285px;
  height: 285px;
}
