.main {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding-top: 60px;
    padding-bottom: 230px;

    &__feature {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 120px;
    }

    &__left {
        width: 100%;
        max-width: 520px;
    }

    &__h1 {
        margin-bottom: 20px;
    }

    &__h2 {
        margin-bottom: 80px;
    }

    &__text {
        margin-bottom: 50px;
    }

    &__buttonWrapper {
        display: flex;
        gap: 40px;
    }

    &__workWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        max-width: 903px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    &__airdrop {
        display: flex;
        gap: 200px;
        margin-bottom: 35px;
    }

    &__airdropLeft {
        padding-top: 45px;
        
       
        p {
            max-width: 620px;
            padding-left: 20px;
        }
    }

    &__drops {
        display: flex;
        flex-direction: column;
    }

    &__dropWrapper {
        max-width: 1100px;
        margin: 0 auto;
        margin-bottom: 100px;

        .slick-list {
            display: flex;
        }
    }

    &__button {
       margin: 0 auto;
    }

    &__h2Drop {
        margin-bottom: 50px;
    }
}