.footer {
    height: 66px;
    background-color: var(--black);
    
    &__nav {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__block {
        &:first-child {
            margin-right: 120px;
        }

        &:nth-child(2) {
            flex: 1;
        }

        &:last-child {
            text-align: end;
        }
    }

    ul {
        display: flex;
        gap: 25px;
    }

    a {
        font-size: 18px;
        color: var(--light-grey);
    }

    p {
        font-size: 14px;
        font-weight: bold;
        line-height: 190.5%;
        color: var(--light-grey);
    }
}